<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>

  <connectionStrings>

    <add name="TOBServiceConnectionString" connectionString="Data Source=tweetoboxkuirw.db.4457565.hostedresource.com; Initial Catalog=tweetoboxkuirw; User ID=tweetoboxkuirw; Password=GdUxsR!2po@9;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <add key="TOBMappingSource" value="TOBKPI.BLL.TOBKPI.Entity.TOBServiceMapping.xml"/>
    <add key="MappingAssemblyKey" value="TOBKPI.BLL"/>
  </appSettings>

  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true">
      <buildProviders>
        <add extension=".svc" type="System.ServiceModel.Activation.ServiceBuildProvider, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </buildProviders>

    </compilation>

    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />

  </system.web>

  <!--<system.web.extensions>
		<scripting>
			<webServices>
				-->
  <!--
              Uncomment this section to enable the authentication service. Include 
              requireSSL="true" if appropriate.

          <authenticationService enabled="true" requireSSL = "true|false"/>
          -->
  <!--
				-->
  <!--
              Uncomment these lines to enable the profile service, and to choose the 
              profile properties that can be retrieved and modified in ASP.NET AJAX 
              applications.

          <profileService enabled="true"
                          readAccessProperties="propertyname1,propertyname2"
                          writeAccessProperties="propertyname1,propertyname2" />
          -->
  <!--
				
              -->
  <!--Uncomment this section to enable the role service.-->
  <!--

          <roleService enabled="true"/>
          
			</webServices>
			-->
  <!--
        <scriptResourceHandler enableCompression="true" enableCaching="true" />
        -->
  <!--
		</scripting>
	</system.web.extensions>-->
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <!--<system.webServer>
		
	</system.webServer>-->
  <system.serviceModel>
    <serviceHostingEnvironment>

      <baseAddressPrefixFilters>

        <add prefix="http://kui.tweetobox.com"/>

      </baseAddressPrefixFilters>

    </serviceHostingEnvironment>

    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <services>
      <service name="TOBKUIWCFService.TOBKUIService" behaviorConfiguration="TOBKUIWCFService.Service1Behavior">
        <!-- Service Endpoints -->
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="TOBKUIWCFService.ITOBKUIService">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->

        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TOBKUIWCFService.Service1Behavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
